@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i');


:root{
  --bg: #001D66;
  --title: #ea0faa;
  --para-text: rgba(0,0,0,0.67);
  --title-font: 'Josefin Slab', serif;
  --text-font: 'PT Serif', Serif;
}


h1, h2, h3, h4, h5, h6{
  color: var(--title);
  text-transform: capitalize;
  font-family: 'Jost', sans-serif;
}


section,
aside,
article,
div,
img{
  box-sizing: border-box;
}
section img{
  width: 100%;
}
section{
  width: var(--width);
  background: #fff;
  padding: 20px;
}
section h3{
  font-size: calc(var(--width)/10);
}
section p{
  font-family: 'Jost', sans-serif;
  color: var(--para-text);
  font-size: calc(var(--width)/20);
}
.date{
  font-size: calc(var(--width)/25);
  margin: 15px 0px;
}
h1{
  color: #fff;
}
.blog_cards{
  margin: 15px;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
  width: 20em;
}
section a{
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  color: #6592e6;
  font-weight: 700;
  font-size: calc(var(--width)/23);
}
#news{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}