.pcos-form{
    width:80%;
    margin:0px 10%;
    padding:3%;
    font-family:'Jost', sans-serif;
}
.pcos-form h5{
    color:#ff6666;
    font-weight:700;
}
.pcos-form div{
    background:#fff4dbde;
    margin:2%;
    border-left:5px solid #ea0faa;
    padding:10px;
}
.ques-radio{
    margin-left:20px;
}
.ques-radio:hover{
    color:#ea0faa;
    cursor:pointer;
}
input[type=number]{
    margin-bottom:20px;
}
.ques-label{
    font-size:1.2rem;
}
.ques-label:hover{
    color:#ea0faa;
    cursor:pointer;
}
#predict-button{
    width:60%;
    margin:2% 20%;
}
#cervical-predict{
    width:60%;
    margin:2% 20%;
}
.prediction-result{
    color:#ea0faa;
    padding:3%;
    text-align:center;
    font-size:2rem;
    font-family:'Jost', sans-serif;
    padding:10px;
    border:2px solid #ea0faa;
    width:90%;
    margin: 3% 5%;
}

@media(max-width:890px){
    .pcos-form{
        width:95%;
        margin:0px 2.5%;
    }
    .pcos-form div{
        margin:5% 2%;
    }
    #predict-button{
        width:80%;
        margin:4% 10%;
    }
    .prediction-result{
        font-size:1.5rem;
    }
}